*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: blue;
}

.container{
    width: 500px;
    height: 300px;
    background: #fff;
    border-radius: 10px;
    margin: 0px auto;
    box-shadow: 0px 0px 120px 20px;
}
/* 
h1{
    color: #000;
    text-align: center;
    position: relative;
    top: 1rem;
} */

.table{
    display: flex;
    justify-content: center;
    margin: 100px auto;
    color: #000;
    padding: 15px;
}

.table th{
    padding: 10px;
}

.table td{
    text-align: center;
}

a{
    text-decoration: none;
    color: red;
    position: relative;
    left: 1rem;
}
/* 
a:hover{
    color: rgb(203, 62, 62);
} */

.return{
    text-decoration: none;
    color: #fff;
    position: relative;
    left: 520px;
    top: 10px;
    font-weight: bolder;
}

#delete-button{
    outline: none;
    border: none;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background: red;
}

#delete-button:hover{
    background: rgb(142, 57, 57);
}

#delete-button:active{
    transform: scale(.9);
}